.my_nav_bar
{
position: sticky;
top: 0px;
z-index: 99999;
width: 100%;
background-color:rgb(17, 109, 121) ;
}
body {
    background-color: rgba(255, 160, 122, 0.678);
}


#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.campus_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.campus_mainDiv img
{
  width: 100%;
}

.campus_mainDiv hr
{
    width: 230px; 
}

.campus_mainDiv h5 , .campus_mainDiv p
{
margin-left: 20px;
}


.achievements_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.achievements_head i
{
float: right;
}

.achievements_text span
{
color: #ff7700;
}
.environment_li {
    margin-top: 13px;
  }
  .environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
  }
  .environment_li img {
    border-radius: 25px;
  }
  .environment_li p {
    margin-top: 10px;
  }



